/* ID Styles */

#schedule-form {
    background-color: #eee;
    padding: 30px 30px 15px 30px;
    border-radius: 10px;
}

#trains-table_wrapper {
    margin-bottom:20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-transform: uppercase;
}

/* Element Styles */

body {
    background-color:lightblue;
}

table {
    text-align:center;
}

th {
    text-align:center;
}

thead, tfoot {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #eee;
    font-size: 1em;
}

/* Class Styles */

.jumbotron {
    margin: 20px 0px 20px 0px;
}

.jumbotron h1 {
    margin-bottom: 20px;
}

.jumbotron h4 {
    text-align:center;
}