/* ID Styles */

body {
    background-image: url(../img/trax_background.png);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;
}

#schedule-form {
    background-color: #eee;
    padding: 30px 30px 15px 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px black;
    margin-bottom: 10px;
}

#trains-table {
    margin-bottom:20px;
    text-transform: uppercase;
    box-shadow: 4px 4px 5px black;
    background-color: #999;
}

/* Element Styles */

body {
    background-color:lightblue;
}

table, th {
    text-align:center;
}

thead, tfoot {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #eee;
    font-size: 1em;
}

h2 {
    text-transform: uppercase;
    margin-top: -10px;
}

/* Class Styles */

.jumbotron {
    margin: 20px 0px 20px 0px;
    box-shadow: 4px 4px 5px black;
}

.jumbotron h1 {
    margin-bottom: 20px;
}

.jumbotron h4 {
    text-align:center;
}

@media screen and (max-width: 1000px) {
    body {
        background-size: 350%;
    }
}

@media screen and (max-width: 500px) {
    body {
        background-size: 400%;
    }
}